

/* @import Rule */


@media screen and (max-width: 960px) {
  body {

  }
}

@media all and (max-width: 960px) {
  .container {
    max-width: 100% ;
  }
  section {
    float: right;
    width: 100%;
  }
  aside {
  display: none;
}
h1 {
	font-size: 1.5em;font-weight: bold;

}
h2 {
	font-size: 1em;
	font-weight: bold;

}
h3 {
	font-size: 0.87em;
	font-weight: bold;

}


