/*Start of Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }
  body ol, body ul {
    list-style: none; }
  body blockquote, body q {
    quotes: none; }
  body blockquote:before, body blockquote:after,
  body q:before, body q:after {
    content: '';
    content: none; }
  body table {
    border-collapse: collapse;
    border-spacing: 0; }

/*End of Reset*/
.facebook {
  background: url("../img/facebook.png") no-repeat; }

.twitter {
  background: url("../img/twitter.png") no-repeat; }

.skype {
  background: url("../img/skype.png") no-repeat; }

.rss {
  background: url("../img/rss.png") no-repeat; }

/*Start of CCS explanations after reset*/
html {
  height: 100%; }

body {
  font-family: 100% "Tenor Sans", sans-serif;
  line-height: 1.5; }

div#wrapper {
  border: none;
  width: 75%;
  min-height: 100%;
  padding-bottom: 20px;
  overflow: hidden;
  margin: auto; }

h1 {
  font-size: 32px;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

h2 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  font-size: 24px; }

h3 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 20px; }

h4 {
  font-size: 1.00em;
  font-weight: bold; }

h5 {
  font-size: 0.83em;
  font-weight: bold; }

h6 {
  font-size: 0.67em;
  font-weight: bold; }

p {
  text-indent: 50px; }

div, span, a, p, ul, footer {
  font-size: 20px; }

div.clear {
  clear: both; }

div.responsiveNav {
  display: none;
  border: 1px solid grey; }

nav.hamburger {
  display: none; }

/*End of explanations*/
img.menuButton {
  display: inline;
  margin: 5px; }

/*Header*/
body header {
  text-align: center;
  height: 50px;
  width: 100%;
  display: inline; }
  body header .imgLogo {
    float: left;
    width: 15%;
    display: inline-block; }
  body header #vip {
    width: 65%;
    padding: 0px;
    display: inline-block;
    color: #3CA4CB;
    text-shadow: 1px 1px #3CA4CB; }
  body header span {
    float: right;
    width: 20%;
    display: inline-block; }

/*End of header*/
/*Start of Navigation*/
nav {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  display: inline-block; }

ul.hor-nav {
height:58px;
  float: left;
  list-style-type: none;
  background-color: #AEAEAE;
  width: 100%;
  display: inline;
  margin: 0;
  list-style: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

ul.hor-nav > li {
  font: bold 12px/18px sans-serif;
  line-height:58px;
  display: inline-block;
  position: relative;
  background: #AEAEAE;
  color: #fff;
  float: left; }

nav ul.hor-nav li.navig a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none; }

nav ul.hor-nav li.search {
  float: right;
  display: inline; }

ul.hor-nav > li:hover {
  background: #D3D3D3;
  color: #fff; }

ul.hor-nav li ul {
  padding: 0;
  position: absolute;
  top: 58px;
  left: 0;
  width: 150px;
  margin-bottom: 1px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  z-index: 5; }

ul.hor-nav li ul li {
  background: #D3D3D3;
  display: block;
  color: #fff; }

  
ul.hor-nav li ul li:hover {
  background: #AEAEAE; }

ul.hor-nav li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; }

ul.hor-nav li.search:hover {
  background: none; }

/*Start of Aside*/
aside {
  width: 30%;
  height: 100%;
  float: left;
  display: block;
  overflow: auto;
  position: relative;
  z-index: 2; }
  aside .parent-menu {
    background-color: #AEAEAE;
    width: 80%;
    float: left;
    list-style-type: none; }
    aside .parent-menu li {
      padding-left: 10px; }
      aside .parent-menu li a {
        padding: 10px 15px;
        display: block;
        color: #fff;
        text-decoration: none; }
        aside .parent-menu li a:hover {
          background-color: #D3D3D3; }

/*Effects*/
/**Effects-Start of Carousel**/
.css-carousel {
  width: 100%;
  height: 366px;
  /* Height of images */
  position: relative;
  overflow: hidden; }

.css-carousel .css-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: css-carousel-fade 30s linear infinite;
  -moz-animation: css-carousel-fade 30s linear infinite;
  -ms-animation: css-carousel-fade 30s linear infinite;
  animation: css-carousel-fade 30s linear infinite; }

.css-carousel .css-img:nth-child(2) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s; }

.css-carousel .css-img:nth-child(3) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s; }

.css-carousel .css-img:nth-child(4) {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s; }

.css-carousel .css-img:nth-child(5) {
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -ms-animation-delay: 20s;
  animation-delay: 20s; }

.css-carousel .css-img:nth-child(6) {
  -webkit-animation-delay: 25s;
  -moz-animation-delay: 25s;
  -ms-animation-delay: 25s;
  animation-delay: 25s; }

@-webkit-keyframes css-carousel-fade {
  0%, 20%, 100% {
    opacity: 0; }
  5%, 15% {
    opacity: 1; } }
@-moz-keyframes css-carousel-fade {
  0%, 20%, 100% {
    opacity: 0; }
  5%, 15% {
    opacity: 1; } }
@-ms-keyframes css-carousel-fade {
  0%, 20%, 100% {
    opacity: 0; }
  5%, 15% {
    opacity: 1; } }
@keyframes css-carousel-fade {
  0%, 20%, 100% {
    opacity: 0; }
  5%, 15% {
    opacity: 1; } }
/**End of Carousel**/
/***Effect rubberBand - v index Welcome***/
@keyframes rubberBand {
  0% {
    transform: scale(1); }
  30% {
    transform: scaleX(1.25) scaleY(0.75); }
  40% {
    transform: scaleX(0.75) scaleY(1.25); }
  60% {
    transform: scaleX(1.15) scaleY(0.85); }
  100% {
    transform: scale(1); } }
.rubberBand {
  animation-name: rubberBand;
  animation-duration: 1s; }

/*End of rubberBand*/
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

/*Effect Pulse - na promocii*/
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  animation-iteration-count: infinite;
  color: red;
  letter-spacing: 10px;
  text-shadow: 2px 2px #FF0000; }

/*End of Pulse*/
/* effect - image opacity - na tunikata*/
div.img-opacity {
  display: block;
  position: relative;
  float: left;
  clear: both; }

.img-opacity img {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 200px;
  height: 300px; }

.img-opacity .img-1 {
  opacity: 1; }

.img-opacity .img-2 {
  opacity: 0; }

.img-opacity:hover .img-1 {
  opacity: 0; }

.img-opacity:hover .img-2 {
  opacity: 1; }

.img-opacity img {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out; }

.img-opacity:hover img {
  transition: all 1.2s ease-in-out;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out; }

/*End image opacity*/
/*End of effects*/
/*Start of Container*/
section {
  width: 70%;
  float: right;
  display: block;
  z-index: 1; }

article p {
  text-align: justify; }

section h2 {
  text-align: center; }

section .backColor {
  background-color: #3CA4CB;
  color: white; }

section h3 {
  text-align: center; }

p.aboutUs {
  text-align: justify; }

/**Start of Categories-damsko,mujko,detsko i podkategoriite**/
li.products {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 33.07%;
  height: 440px; }






div.productBox {
  margin: auto;
  position: relative;
  top: 20px;
  left: 0;
  right: 0;
  width: 240px;
  height: 390px;
  border: 20px solid #F2F2F2; }

div.productBox:active {
  border: 20px solid #D3D3D3; }

div.productBox:hover {
  border: 20px solid #D3D3D3; }

div.productBox img {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: auto; }

div.productBox:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1); }

.productBox p {
  height: 30px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  top: 330px;
  text-align: center; }

/**End of Categories**/
/***Start of description pages***/
.firstArticle {
  height: 360px; }

div.image {
  width: 50%; }

img.descript {
  display: inline;
  float: left;
  position: absolute;
  width: 200px;
  height: 300px; }

select {
  font-size: 16px; }

button.button {
  width: 60px;
  height: 30px;
  background-color: #AEAEAE;
  border: 1px solid grey;
  color: white; }

div.buy {
  display: inline;
  position: relative;
  margin-top: 40px;
  left: 40%; }

#gashterizon {
  position: relative;
  top: 20px;
  left: 20px;
  margin: auto;
  z-index: -1; }

#finished {
  position: absolute;
  top: 170px;
  left: 30px;
  z-index: 1; }

/***End of description pages***/
/****Start of promotions page****/
.promotions ul {
  display: inline;
  float: left;
  list-style-type: none; }
  .promotions ul li {
    display: inline;
    float: left;
    margin-right: 5px;
    background-color: #AEAEAE;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 10px; }
    .promotions ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 5px 10px;
      margin: 5px;
      text-decoration: none; }
      .promotions ul li a #woman, .promotions ul li a #man, .promotions ul li a #kids {
        text-align: left; }

.promo {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 27%;
  height: 360px; }
  .promo .promo-product {
    margin: auto;
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    width: 240px;
    height: 360px; }
    .promo .promo-product .downPicture {
      position: relative;
      top: 0;
      left: 0;
      width: 200px;
      height: 300px; }
    .promo .promo-product .upPicture {
      position: absolute;
      top: 0px;
      left: 150px; }

summary img {
  width: 600px;
  height: 250px; }

/****End of promotions page****/
/*****Start of Voucher page*****/
div.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 20px; }

div.flex-down {
  -webkit-flex-direction: column;
  /* Safari */
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  margin: auto; }

.borderimg {
  border: 10px solid transparent;
  padding: 20px;
  width: 250px;
  height: 150px;
  text-align: center;
  font-size: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  color: black;
  box-sizing: border-box;
  -webkit-border-image: url(../img/border-image1.png) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/border-image1.png) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/border-image1.png) 30 round; }

.backImage {
  background: url(../img/backImage1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 2px solid grey;
  width: 250px;
  height: 150px;
  border: 10px solid transparent;
  padding: 20px;
  margin-right: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center; }

.backImage2 {
  background: url(../img/koleda.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 2px solid grey;
  width: 250px;
  height: 150px;
  border: 10px solid transparent;
  padding: 45px;
  margin-right: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center; }

.backImage3 {
  background: url(../img/gift-card1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 2px solid grey;
  width: 250px;
  height: 150px;
  border: 10px solid transparent;
  padding-top: 80px;
  padding-left: 115px;
  margin-right: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center; }

body table {
  width: 100%;
  border: 1px solid white;
  margin: auto; }

body th {
  font-weight: bold;
  background: #3CA4CB;
  color: #fff; }

body tr td:first-child {
  width: 40%; }

body tr td:last-child {
  width: 60%; }

body td {
  padding-left: 5px; }

body tr.even {
  background-color: #B1DAEA; }

body tr.odd {
  background-color: white; }

/*****End of Voucher page*****/
/*Start of contacts, about us, reg and logIn*/
section.reg {
  width: 100%; }

input.button {
  width: 60px;
  height: 30px;
  background-color: #AEAEAE;
  border: 1px solid grey;
  color: white; }

#textarea {
  vertical-align: text-top; }

div.multiColumn {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  margin: 10px 5px; }

p.noIndent {
  text-indent: 0px; }

/*Footer*/
footer {
  bottom: 0px;
  float: left;
  width: 100%;
  text-align: center; }

footer #footerNav {
  display: inline-block;
  width: 100%; }

footer #footerNav li {
  border-right: 0.5px solid;
  display: inline;
  margin-left: 5px;
  margin-right: 5px; }

footer #footerNav li:last-child {
  border-right: none; }

footer #footerNav + p {
  width: 100%;
  color: grey;
  text-indent: 0px; }

ul#footerNav a:link, ul#footerNav a:visited {
  color: black; }

p#clickHere a:link, p#clickHere a:visited {
  color: red; }

ul#footerNav a:hover, p#clickHere a:hover {
  color: skyblue; }

ul#footerNav a:active, p#clickHere a:active {
  color: blue; }

footer #social-links {
  display: block;
  width: 100%;
  text-align: center; }

footer #social-links li {
  list-style: none;
  display: inline-block; }
  footer #social-links li a {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-right: 10px; }

/*End Footer*/
/*Hack for heading color in mozzila */
@-moz-document url-prefix() {
  h1 {
    color: blue; } }
/*End of Hack  */
harmb {
  display: none; }

/*REgister form*/
#registraciq {
  min-height: 1110px; }

#vhod {
  min-height: 410px; }

#kontakti {
  min-height: 720px; }

.regLog {
  width: 50%;
  margin: 0px auto;
  position: relative;
  right: 25%; }

.regLog form {
  width: 100%;
  height: inherit; }

.formBox {
  position: absolute;
  top: 0px;
  width: 78%;
  padding: 18px 10% 60px 10%;
  margin: auto;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189, 0.8);
  -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  -webkit-box-shadow: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 100px; }

.regLog p {
  margin-bottom: 15px;
  text-indent: 0px; }

.regLog label {
  color: #405c60;
  width: 85%; }

::-webkit-input-placeholder {
  color: #bebcbc;
  font-style: italic; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #bebcbc;
  font-style: italic; }

input[type="text"], input[type="tel"], input[type="password"], input[type="date"], input[type="email"], input[type="number"], textarea {
  width: 92%;
  margin-top: 4px;
  padding: 10px 5px 10px 32px;
  border: 1px solid #b2b2b2;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear; }

.regLog input[type="checkbox"]:active, .regLog input[type="checkbox"]:focus,
.regLog input[type="tel"]:active, .regLog input[type="tel"]:focus,
.regLog input[type="password"]:active, .regLog input[type="password"]:focus,
.regLog input[type="date"]:active, .regLog input[type="date"]:focus,
.regLog input[type="email"]:active, .regLog input[type="email"]:focus,
.regLog input[type="number"]:active, .regLog input[type="number"]:focus {
  border: 1px solid rgba(91, 90, 90, 0.7);
  background: rgba(238, 236, 240, 0.2);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset; }

.regLog p.file {
  width: 100%; }

.regLog p.file input[type="file"] {
  width: 100%; }

div.buy button, .regLog p.button input {
  width: 30%;
  cursor: pointer;
  padding: 8px 10px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px #fefefe, 0px 5px 3px 3px #d2d2d2;
  -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px #fefefe, 0px 5px 3px 3px #d2d2d2;
  box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px #fefefe, 0px 5px 3px 3px #d2d2d2;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear; }

div.buy button {
  background-color: #B1DAEA;
  border: 1px solid #3CA4CB; }

.regLog p.button input {
  background: #3d9db3;
  border: 1px solid #1c6c7a; }

.regLog p.button input:hover {
  background: #4ab3c6; }

.regLog p.button input:active,
.regLog p.button input:focus {
  background: #28899a;
  position: relative;
  top: 1px;
  border: 1px solid #0c4c57;
  -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset; }

div.buy button {
  margin-top: 5px;
  text-align: center;
  vertical-align: center;
  padding: 2px 5px;
  width: 60px; }

p.button {
  text-align: right;
  margin: 5px 0; }

/* styling the checkbox "keep me logged in"*/
.keeplogin {
  margin-top: -5px; }

.keeplogin input,
.keeplogin label {
  display: inline-block;
  font-size: 12px;
  font-style: italic; }

.keeplogin input#loginkeeping {
  margin-right: 5px; }

p.change_link {
  position: absolute;
  color: #7f7c7c;
  left: 0;
  bottom: 0;
  width: 98%;
  box-sizing: border-box;
  padding-left: 32px;
  font-size: 16px; }

.regLog p.change_link a {
  display: inline-block;
  color: #1da2c1;
  font-size: 16px; }

/* TABLETS */
@media all and (max-width: 1024px) {
  body {
    background: white;
    width: 100%; }

  div#wrapper {
    border: none;
    width: 95%; }

  div, span, a, p, ul, li, table, th, td, tr, footer {
    size: 20px; }

  section {
    width: 100%; }

  aside {
    display: none; }

  nav.horizontal {
    display: none; }

  nav.hamburger {
    display: block; }

  body header {
    display: block;
    height: 50px;
    width: 100%;
    margin: auto; }

  header img.imgLogo {
    display: block;
    width: 150px;
    height: 50px; }

  body header #vip {
    display: none; }

  body header span {
    display: none; }

  h1, h2, h3 {
    font-weight: bold; }

  h1 {
    font-size: 24px; }

  h2 {
    font-size: 22px; }

  h3, a {
    font-size: 20px; }

  p {
    font-size: 20px;
    margin: 0px 10px; }

  a.links {
    font-size: 20px;
    margin-left: 10px; }

  .fieldset header {
    width: 100%; }

  /*Responsive Navigation*/
  div.responsiveNav {
    display: block;
    border: none;
    border-top: 2px solid grey; }
    div.responsiveNav ul {
      display: inline;
      border-top: 2px solid grey; }
      div.responsiveNav ul li {
        display: inline;
        padding-top: 10px;
        padding-left: 2.5%;
        padding-right: 2.5%;
        align-content: center;
        width: 19%;
        float: left; }
        div.responsiveNav ul li li.search {
          display: none; }

  /*end of Responsive navigation*/
  /*Hamburger*/
  .hamburger {
    max-height: 0;
    overflow: hidden;
    float: right;
    text-align: center;
    width: 100%;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s; }

  .hamburger ul.hor-nav {
    float: none;
    list-style-type: none;
    background-color: #D3D3D3;
    width: 100%;
    margin: 0;
    padding: 0; }

  .hamburger ul > li {
    display: block;
    width: 100%;
    background: #D3D3D3;
    color: #fff;
    border-top: 1px solid #4d4d4d;
    float: none;
    padding: 0px; }

  .hamburger ul > li:hover {
    background: #AEAEAE;
    color: #fff; }

  .hamburger ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1px;
    font-size: 16px; }

  .hamburger.menuOpen {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s; }

  div.clear {
    clear: both; }

  .searching {
    display: none; }

  .searching.menuOpen {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
    display: block; }

  ul.hor-nav li ul {
    padding: 0;
    position: static;
    left: 0;
    width: 100%;
    margin-bottom: 1px;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    z-index: 5; }

  ul.hor-nav li ul li {
    background: #AEAEAE;
    display: block;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1px;
    font-size: 16px; }

  ul.hor-nav li ul li:hover {
    background: #D3D3D3; }

  ul.hor-nav li:hover ul {
    display: none;
    opacity: 1;
    visibility: visible; }

  ul.hor-nav li.open ul {
    display: block;
    opacity: 1;
    visibility: visible; }

  ul.hor-nav li.search:hover {
    background: none; }

  span.plus {
    display: inline;
    right: 10px;
    float: right;
    position: absolute;
    height: 40px;
    top: 5px;
    font-size: 20px; }

  span.plus:before {
    content: '+';
    display: block; }

  li.open span.plus:before {
    content: '-'; }

  /*End of Hamburger*/
  /**Start of Categories-damsko,mujko,detsko i podkategoriite**/
  li.products {
    width: 48%;
    margin-bottom: 40px;
    margin-top: 20px;
    margin: auto; }

  .productBox p {
    height: 20px;
    font-size: 16px; }

  /**End of Categories**/
  /***Start of description pages***/
  select {
    font-size: 16px; }

  .buy select {
    font-size: 14px; }

  div.buy {
    display: inline;
    position: relative;
    margin-top: 40px;
    width: 100%;
    float: left;
    margin-left: 10%; }

  summary img {
    width: 300px;
    height: 125px; }

  fieldset.fieldset {
    width: 50%; }

  /*Reg forms*/
  .regLog p.button input {
    width: 40%; } }
/* MOBILE */
@media all and (max-width: 480px) {
  body header {
    height: 50px;
    width: 50%;
    margin: auto; }

  section header {
    width: 100%; }

  div, span, a, p, ul, li, table, th, td, tr, footer {
    font-size: 16px; }

  h1 {
    font-size: 20px; }

  a {
    font-size: 16px; }

  p {
    font-size: 16px;
    margin: 0px 10px; }

  a.links {
    font-size: 16px;
    margin-left: 10px; }

  /*carousel*/
  .css-carousel {
    width: 100%;
    height: 183px; }
    .css-carousel .css-img {
      width: 100%;
      height: 100%; }

  /**Start of Categories-damsko,mujko,detsko i podkategoriite**/
  li.products {
    width: 100%;
    margin: auto;
    margin-bottom: 30px; }

  .productBox p {
    height: 20px;
    font-size: 16px; }

  .firstArticle {
    height: 300px; }

  /**End of Categories**/
  /*Promo page*/
  img.descript {
    display: inline;
    float: left;
    position: absolute;
    width: 150px;
    height: 230px; }

  .img-opacity img {
    width: 150px;
    height: 230px; }

  select {
    font-size: 15px; }

  .buy select {
    font-size: 14px; }

  div.buy {
    display: inline;
    position: relative;
    margin-top: 40px;
    width: 100%;
    float: left;
    margin-left: 10%; }

  summary img {
    width: 300px;
    height: 125px; }

  li.promo {
    width: 100%;
    margin: auto;
    margin-bottom: 30px; }

  .productBox span {
    height: 20px;
    font-size: 16px; }

  /*End of Promo page*/
  /*REgister form*/
  .regLog {
    width: 100%;
    right: 0; }

  form {
    width: 100%; }

  .keeplogin label {
    width: 86%; }

  .regLog p.button input {
    width: 47%; } }

/*# sourceMappingURL=style.css.map */
