



/* TABLETS */
@media all and (max-width: 1080px){
	body {
		 .container {
    max-width: 100% ;
  }

    section {
    width: 100%;
  }
  aside {
  display: none;
}





  	}


  	harmb {
  		
  	}
}



/* MOBILE */
@media all and (max-width: 480px){

div#wrapper{
  border: none;
  width: 95%;
}
	body {
		background: white;
    width: 100%;
  	}


header{
  height: 50px;
  width: 50%;
  margin: auto;
}
img.imgLogo{
margin: auto;
float: none;
width: 50%;
text-align: center;


}
header h1 {
display: none;
width: 0%;
}

header span{
  display: none;
  width: 0%;
}
aside{
  display: none;  
}
section{
  width: 100%;
}

h1 {
  font-size: 1.5em;font-weight: bold;

}
h2 {
  font-size: 1em;
  font-weight: bold;

}
h3 {
  font-size: 0.75em;
  font-weight: bold;
}
p{
  font-size: 0.75em;
  margin: 0px 10px;
}
a.links{
  font-size: 0.75em;
  margin-left: 10px;
}
nav.horizontal{
  display: none;
}


/*Responsive Navigation*/


div.responsiveNav{
  display: block;
  border:none;
   border-top: 2px solid grey;
}
.responsiveNav ul{
  display: inline;
  border-top: 2px solid grey;

}


.responsiveNav ul li{
  display: inline;
    padding-top: 10px;
  padding-left:2.5%;
  padding-right: 2.5%;
  align-content: center;
  width: 19%;
  float: left;
}
li.search{
  display: none;
  }

/*end of Responsive navigation*/

/*Hamburger*/
.hamburger {
    max-height: 0;
    overflow: hidden;
    float: right;
    text-align: center;
    width: 100%;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }

.hamburger ul.hor-nav {
  float: none;
  list-style-type: none;
  background-color: #D3D3D3;
  width: 100%;
  margin: 0;
  padding: 0;

}
div.clear{
  clear: both;  
}

  .hamburger ul>li {
    display: block;
    width: 100%;
    background: #D3D3D3;
    color: #fff;
    border-top: 1px solid #4d4d4d;
    float: none;
    padding: 0px;

  }
   .hamburger ul>li:hover {
      background: #AEAEAE;
       color: #fff;
  }

  .hamburger ul li a {
    color: black;
      text-decoration: none;
      padding: 10px 0;
     text-align: center;
    width: 90%;
  }

  .hamburger.menuOpen {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
.searching{
  display: none;
}

   .searching.menuOpen {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
    display: block;
  }

ul.hor-nav li ul {
  padding: 0;
  position: static;
  top: 47px;
  left: 0;
  width: 100%;
  margin-bottom: 1px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  border-top: 1px solid red;
}
ul.hor-nav li ul li {
  background: #AEAEAE;
  display: block;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1px;
}

ul.hor-nav li ul li:hover {
  background: #D3D3D3; 
}

/* ul.hor-nav li:hover ul {
  display: none;
  opacity: 1;
  visibility: visible;
} */

ul.hor-nav li ul.open {
  display: block;
  opacity: 1;
  visibility: visible;
}

ul.hor-nav li.search:hover {
  background: none; 
}

span.plus{
  display: inline;
  right: 10px;
  float: right;
  position: absolute;
    top: 0px;
}
/*End of Hamburger*/


/**Start of Categories-damsko,mujko,detsko i podkategoriite**/
li.search{
  display: none;
  }
li.products{
  width: 90%;
}

/**End of Categories**/

img.descript{
  display: inline;
  float: left;
  position: absolute;
  width:150px;
  height:250px;
}


select{
  font-size:0.75em;
}
.buy select{
  font.size: 0.75em;
}


div.buy{
  display: inline;
  position: relative;
  margin-top: 40px;
  width: 30%;
  left: 45%;
}











































}




/*

@import url(style.css) all and (min-width: 1080px) {...}

@media screen and (max-width: 1080px) and (min-width: 960px) {
  body {

  }
}

section,
aside {
  margin: 0;
}
@media all and (max-width: 1080px) and (min-width: 960px) {
  .container {
    max-width: 100% ;
  }
  section {
    float: right;
    width: 65%;
  }
  aside {
    float: left;
    width: 35%;
  }
h1 {
	font-size: 1.5em;font-weight: bold;

}
h2 {
	font-size: 1em;
	font-weight: bold;

}
h3 {
	font-size: 0.87em;
	font-weight: bold;

}


*/