html{
	height: 100%;
}
body{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	height: 100%;
}
header{
	text-align: center;
	height: 50px;
}
img{
	float: left;
}
img,h1 {
  display: inline;
}
span{
	float: right;
}
nav{
	text-align: center;
	width: 200px;
}

li.navig {
    display: inline;
}
div,span,a,p,ul,footer{
			font-size:20px;
		}
 aside{
 	width: 30%;
	float: left;
	display: block;
}
section{
	width: 70%;
	float: right;
	display: block;
}
section.reg{
	width: 1100px;
}
li.products{
	display: inline-block;
}
p.aboutUs{
	text-align: justify;
}
		select{
			font-size:16px;
		}

img.descript{
	float: left;
	display: inline;
}
div.buy{
	float: center;
	display: inline;
}

fieldset{
	font-size: 20px;
}

	label.label {
  width:200px;
  display: inline-block;
}

.hor-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff3300;
    width: 1100px;
}

.hor-nav li {
    float: left;
    display: inline;
}

.hor-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation{
	width: 200px;
}


.ver-nav,.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ver-nav a {
  display: block;
  background-color: #CCC;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.ver-nav a:hover {
    background-color: #C5C5C5;
}

.ver-nav li:hover .submenu {
  display: block;
  max-height: 200px;
}


.submenu a {
  background-color: #999;
}

.submenu a:hover {
  background-color: #666;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}











footer{
	  display: block;
	  bottom:0px;
	  float: left;
	  width: 1100px;
	  text-align: center;
}
